.alert {
  display: none;
  position: fixed;
  top: 8vh;
  right: 2vw;
  width: 400px;
  z-index: 12;
  max-width: 500px;
}

.font-wt-700 {
  font-weight: var(--weight-bold);
}

@media (max-width: 768px) {
  /* .alert {
    width: 50vw !important;
    max-width: 60vw !important;  
  } */

  .alert{
    width: 320px;
  }
}
