/* reset */
a {
  color: var(--black);
}

/* root-styles */
:root {
  --grey-color: #f4f4f4;
  --dark-grey-color: #c4c2c2;
}

/* height set to 100vh may be a cheap fix */
.auth {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--grey-color);
  min-height: 100vh;
}

/* display-grid */
.dgrid-fieldset {
  display: grid;
  gap: var(--size-5);
}

.dgrid-section {
  display: grid;
  gap: var(--size-13);
  padding: var(--size-9);
}

/* display-flex */
.dflex {
  justify-content: space-between;
}

.dflex :last-child {
  padding-right: 0;
  /* text-decoration: underline; */
}

.dflex :last-child :hover {
  text-decoration: underline;
}

/* header */
.auth-header {
  padding: calc(3 * var(--size-9)) var(--size-9) 0 var(--size-9);
}

.nav {
  padding: var(--size-9);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: var(--size-13) 0;
}

.txt-logo {
  font-weight: var(--weight-black);
  grid-column: 1;
  font-size: var(--size-10);
}

.actions {
  grid-column: 2;
  font-weight: var(--weight-bold);
}

.actions > a {
  text-decoration: underline;
}

.nav > h1 {
  padding: calc(4 * var(--size-9)) 0 0 0;
  grid-column: 1/-1;
  font-size: 2.5rem;
  line-height: 1.2;
}

/* main */
.auth-main {
  padding: 0 var(--size-9) calc(3 * var(--size-9)) var(--size-9);
}

.input-group-text {
  background: 0;
  border: 0;
  width: max-content;
  font-weight: var(--weight-bold);
  padding-left: 0;
}

.auth-input {
  cursor: initial;
  padding: var(--size-7) var(--size-9);
  border: 0.0625rem solid;
  border-radius: var(--size-3);
}

.signup_conditions {
  display: flex;
  align-items: center;
  column-gap: var(--size-6);
}

.signup_conditions > input {
  width: var(--size-10);
  height: var(--size-10);
  cursor: pointer;
}

.signup_conditions > span {
  font-weight: var(--weight-bold);
}

.btn-secondary {
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--size-3);
  border: 0.0625rem solid var(--black);
  padding: var(--size-7) var(--size-9);
  text-align: center;
}

.btn-secondary:hover {
  background-color: var(--logo-color);
  font-weight: var(--weight-bold);
  box-shadow: var(--size-3) var(--size-3) 0 var(--black);
}

/* aside */
.auth-aside {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
}

.auth-image {
  vertical-align: bottom;
  height: 100vh;
  left: 0;
  object-fit: cover;
  top: 0;
  width: 100%;
}

.logo-img {
  width: 40px;
  height: 40px;
}

/* media-queries */
@media (min-width: 1024px) {
  .auth-header,
  .auth-main {
    width: 60%;
    padding-left: calc(3 * var(--size-9));
    padding-right: calc(3 * var(--size-9));
  }

  .auth-aside {
    border-left: 0.0625rem solid var(--black);
    width: 40%;
    display: block;
    flex-shrink: 0;
    background-size: cover;
  }
}
