/* single-column layout */
.products-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "nav"
    "footer";
  grid-template-rows: auto 1fr auto auto;
  background-color: var(--grey-color);
}

/* header */
.header {
  background-color: var(--white);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* card-container with fixed height */
.cards-container {
  min-height: max-content;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: var(--size-13) var(--size-10);
}

.card-w-100 {
  width: 100%;
}

.card-w-100 .btn {
  width: initial;
}

.txt-color-green {
  color: green;
}

/* aside: cart placed at bottom by default */
.aside {
  padding: var(--size-9);
  background-color: var(--white);
  border: 0;
  margin-right: var(--size-6);
  height: max-content;
  background: var(--grey-color);
}

.aside .card-filter-category {
  min-width: 0;
  max-width: none;
  width: 100%;
  justify-content: space-between;
}

.aside-navbar {
  transform: translateX(0);
  padding: 0;
  padding-bottom: 10px;
  border: 1px solid;
}

/* aside-navabr cart-items */
.cart-items-category {
  display: flex;
  align-items: center;
  column-gap: var(--size-6);
  width: 100%;
  justify-content: space-between;
}

.aside-navbar .card-w-100 .btn-secondary {
  margin: 0 var(--size-6);
}

/* expanding the buttons into column direction*/
.card-action-btns.align-center-and-space-between,
.btn-secondary.align-center-and-space-between {
  flex-wrap: wrap;
  justify-content: center;
  row-gap: var(--size-6);
}

.card-action-btns.align-center-and-space-between > button {
  width: 100%;
}

.qunatity-action {
  justify-content: space-around;
  width: 100%;
}

.quantity-btn {
  padding: 1px 1px;
  height: 30px;
  width: 30px;
}

@media (min-width: 768px) {
  /* three-column layout */
  .products-wrapper {
    grid-template-areas:
      "header header header"
      "main main nav"
      "footer footer footer";
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: auto 1fr auto;
  }

  .aside {
    padding: calc(var(--size-16) * 1.3) 0 0 0;
    box-shadow: none;
  }

  .aside-navbar {
    box-shadow: -4px 3px;
  }

  .cards-container {
    column-gap: var(--size-7);
  }

  .cards-container {
    width: 40vw;
  }
}
