.footer {
  border-top: var(--size-1) solid;
  display: flex;
  padding: var(--size-9);
  background-color: var(--white);
}

.footer-brand,
.footer-writer {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.footer-writer {
  align-items: flex-end;
}

@media (max-width:768px) {
  .footer{
    flex-direction: column;
    row-gap: var(--size-7);
  }
  .footer-writer{
    align-items: flex-start;
  }
}
